In [ ]:
import pickle
import torch
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path_t="/content/drive/MyDrive/colab/trigram.csv"
path_b="/content/drive/MyDrive/colab/bigram.csv"
path_u="/content/drive/MyDrive/colab/unigram.csv"

In [ ]:
uni=pd.DataFrame(pd.read_csv(path_t))

In [ ]:
ff="tech"

In [ ]:
uni_b=uni[uni["domain"]==ff]
len(uni_b.keyword.unique())

4926

In [ ]:
for i in uni:
  print(i)

Unnamed: 0
n-gram
domain
keyword
att-score

In [ ]:
dic={}
for ind in uni_b.index:
  if uni_b['keyword'][ind] not in dic:
    dic[uni_b['keyword'][ind]]=[0,0]
  dic[uni_b['keyword'][ind]][0]+=1
  dic[uni_b['keyword'][ind]][1]+=uni_b['att-score'][ind]

In [ ]:
di={}

In [ ]:
arr=[]
for i in dic.keys():
  arr.append((i,dic[i]))
arr=sorted(arr, key=lambda x: x[1],reverse=True)

In [ ]:
label=[]
ngram=[]
keywd=[]
freqq=[]
alpha=[]

In [ ]:
for j in arr:
  label.append(ff)
  ngram.append("3-gram")
  keywd.append(j[0])
  freqq.append(j[1][0])
  alpha.append(j[1][1])

In [ ]:
data = {'n-gram': ngram, 'domain': label,'keyword':keywd,'frequency':freqq,'att-score':alpha}
df = pd.DataFrame(data)
df.head()

   n-gram    domain                         keyword  frequency  att-score
0  3-gram  business  securities exchange commission         19   0.731171
1  3-gram  business                     bn euros bn         19   0.492251
2  3-gram  business           london stock exchange         17   0.570362
3  3-gram  business             reuters news agency         15   0.475226
4  3-gram  business                     euros bn bn         13   0.491524

In [ ]:
df.to_csv('/content/drive/MyDrive/colab/trigram_fre.csv')